body {
  text-align: center;
  color: white;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "arista_pro_triallight";
  src: url("./utils/webfontkit/arista-pro-light-trial-webfont.woff2")
      format("woff2"),
    url("./utils/webfontkit/arista-pro-light-trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #1b1b1b;
}

.login-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-screen input {
  margin: auto;
  padding: 5px 40px;
  text-align: center;
  border: 2px solid rgb(37, 37, 37);
  background-color: rgb(37, 37, 37);
  border-radius: 5px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 25px;
  width: 400px;
  max-width: 40vw;
}
.login-screen input:focus {
  outline: none;
}

.later-input {
  position: relative;
  top: -60px;
}

.go-back {
  display: block;
  cursor: pointer;
  width: 40px;
  height: 20px;
  margin: auto;
  padding: 20px;
}

.show-login-input {
  display: block;
}

.hide-login-input {
  display: none;
}

.app-nav {
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.app-nav::-webkit-scrollbar {
  height: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.app-nav a:visited {
  color: white;
  text-decoration: none;
}

.app-title {
  margin: -50px 0 100px 0;
  display: inline-block;
  letter-spacing: 2px;
  font-weight: normal;
  color: grey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 25px;
}

.connections {
  width: 100%;
  padding: 10px 10px 10px 0px;
  margin-left: 15px;
  margin-right: auto;
  border-radius: 10px;
  background-color: black;
  display: flex;
  flex-direction: row;
}

.status {
  display: block;
  font-size: x-small;
}

.contact {
  color: lightgrey;
  margin: 0px 3px;
  padding: 0px 10px 3px 10px;
  border: 2px solid black;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.recipient {
  color: black;
  font-weight: bold;
  margin: 0px auto;
  padding: 0px 20px 3px 20px;
  border-radius: 5px;
  background-color: rgb(255, 249, 246);
}

.online {
  color: lightgrey;
  border: 2px solid grey;
}

.live {
  color: rgb(255, 189, 158);
  border: 2px solid rgb(255, 189, 158);
  border-radius: 50px;
  background-color: black;
}

.together {
  color: black;
  border: 2px solid rgb(255, 189, 158);
  background-color: rgb(255, 189, 158);
}

@media (hover: hover) {
  .contact:hover {
    border: 2px solid grey;
  }
  .online:hover {
    color: white;
    background-color: grey;
  }
  .live:hover {
    color: black;
    border: 2px solid rgb(255, 189, 158);
    background-color: rgb(255, 189, 158);
  }
}

.add-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-contact button {
  position: relative;
  height: 24px;
  width: 24px;
  color: grey;
  border: none;
  background-color: transparent;
  outline: none;
  margin-left: 15px;
  opacity: 0.9;
  z-index: 2;
  transition: 0.4s;
}

.add-contact-text {
  display: none;
}

@media (hover: hover) {
  .add-contact button {
    cursor: pointer;
    opacity: 0.6;
  }
  .add-contact button:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  .add-contact-text {
    display: block;
    position: absolute;
    padding: 0px 10px;
    margin-left: 45px;
    color: grey;
    cursor: default;
    z-index: 3;
    transition: 0.4s;
  }
  .show-add-contact-text {
    opacity: 1;
  }
  .hide-add-contact-text {
    opacity: 0;
    pointer-events: none;
  }
}

.add-contact-input {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  height: 25px;
  width: 160px;
  color: white;
  background-color: rgb(43, 43, 43);
  padding: 5px 15px;
  border-radius: 50px;
  border: none;
  opacity: 1;
  z-index: 4;
  transition: 0.35s ease-in-out;
}

.add-contact input:focus {
  outline: none;
}
.add-contact input::placeholder {
  color: rgb(121, 121, 121);
}

.hide-input {
  opacity: 0;
  width: 0px;
  cursor: default;
  height: 0px;
  padding: 0px;
}

@media (hover: hover) {
  .hide-input {
    opacity: 0;
    width: 80px;
    cursor: default;
  }
}

/*~~ Options menu ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.options-button {
  margin-left: auto;
  padding: 0 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.options-icon {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 1px 1px 0px 1px;
  font-size: 1.2rem;
  color: black;
  background-color: lightgrey;
  border-radius: 50px;
  opacity: 0.6;
  cursor: pointer;
  z-index: 5;
  transition: 0.4s;
}

.options-label {
  display: none;
}

@media (hover: hover) {
  .options-icon {
    opacity: 0.4;
  }

  .options-icon:hover {
    opacity: 0.6;
  }

  .options-label {
    display: block;
    cursor: default;
    width: fit-content;
    margin: 0px 10px 2px 0px;
    color: grey;
    transition: 0.3s;
  }

  .show-options-label {
    opacity: 1;
  }

  .hide-options-label {
    opacity: 0;
  }
}

.options-window {
  position: fixed;
  top: 21px;
  right: 15px;
  max-width: 1000px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 50px 30px;
  border: 2px solid rgb(37, 37, 37);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.8);
  background-color: black;
  transition: 0.4s;
  z-index: 4;
  overflow-y: auto;
}

@media (max-width: 700px) {
  .options-window {
    max-width: 65vw;
  }
}

.options-window > * {
  opacity: 1;
  transition: 0.5s;
}

.hide-options-window {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50px;
  overflow: hidden;
  opacity: 0;
}

.options-login-info {
  width: 100%;
  font-size: 1.2rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.option-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  margin: 15px;
  background-color: rgb(37, 37, 37);
  border-radius: 5px;
  transition: 0.4s;
}

.option-label {
  width: 100%;
  height: fit-content;
  padding: 2ch 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.2rem;
  transition: 0.3s;
  cursor: pointer;
}
@media (hover: hover) {
  .option-label:hover {
    background-color: rgba(255, 255, 255, 0.03);
  }
}

.option-content {
  max-height: 500px;
  opacity: 1;
  transition: 0.4s;
}
.option-content > * {
  margin: 20px 40px;
}

.hidden-content {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: 0.4s;
}
.hidden-content > * {
  margin: 20px 40px;
}

.success-check {
  display: inline-block;
}

.logout-label {
  display: inline-block;
  width: fit-content;
  padding: 5px 25px;
  background-color: rgb(37, 37, 37);
  border-radius: 50px;
  transition: 0.4s;
}
.logout-label:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.delete-user:hover {
  color: orange;
}

.option-form {
  display: flex;
  flex-direction: column;
}

.option-form * {
  color: white;
  padding: 5px;
  margin: 2ch;
  border: 2px solid rgb(37, 37, 37);
  border-radius: 5px;
  background-color: black;
}

.option-input:focus {
  outline: none;
}

.option-form button {
  padding: 5px;
  margin: 2ch;
  border: 2px solid rgb(37, 37, 37);
  border-radius: 5px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgb(51, 51, 51);
  cursor: pointer;
}
.option-form button:hover {
  background-color: rgb(54, 54, 54);
}

.option-info {
  max-width: 500px;
}

.dark-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.8;
  transition: 0.3s;
}

.hide-dark-background {
  opacity: 0;
  pointer-events: none;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: auto;
}

.user-selection {
  margin-top: 20vh;
}

.user-button {
  display: inline-block;
  margin: 20px auto;
}

.delete-user-button {
  display: inline-block;
  margin: 20px auto;
}

.Chat {
  position: absolute;
  bottom: 80;
  width: 100%;
  height: 100vh;
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  overflow-y: scroll;
  z-index: 1;
}

.chat-log {
  max-width: 900px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  overflow-wrap: break-word;
  list-style: none;
  padding-top: 100px;
  padding-left: 0px;
}

@media (min-width: 700px) {
  .chat-log {
    width: 50%;
  }
}

.my-message-line {
  text-align: right;
  white-space: pre;
}

.my-message {
  display: inline-block;
  white-space: normal;
  text-align: left;
  min-height: 21px;
  max-width: 50%;
  margin-bottom: 8px;
  padding: 5px 40px;
  border: 2px solid rgb(37, 37, 37);
  background-color: rgb(37, 37, 37);
  border-radius: 5px;
}
.chat-log-live {
  color: rgb(255, 189, 158);
}

.their-message {
  text-align: left;
  color: white;
  width: fit-content;
  max-width: 50%;
  min-height: 21px;
  margin-bottom: 8px;
  padding: 5px 40px;
  border: 2px solid rgb(37, 37, 37);
  border-radius: 5px;
}

@media (max-width: 699px) {
  .chat-log {
    width: 95vw;
    font-size: 1.2em;
  }
  .my-message {
    max-width: 70%;
    padding: 10px 20px;
  }
  .their-message {
    max-width: 70%;
    padding: 10px 20px;
  }
}

.their-live-text {
  font-size: 25px;
  color: rgb(255, 189, 158);
  width: fit-content;
  max-width: 50%;
  min-height: 21px;
  margin-bottom: 8px;
  padding: 5px 40px;
  border: 2px solid rgb(37, 37, 37);
  border-radius: 5px;
}

.message-form {
  width: 100%;
  max-width: 95%;
  height: 116px;
  position: fixed;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
  pointer-events: none;
}

.message-input {
  font-size: 25px;
  text-align: center;
  padding: 5px 40px;
  border: 1.5px solid rgb(37, 37, 37);
  background-color: rgb(37, 37, 37);
  border-radius: 5px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  pointer-events: auto;
  transition: 0.4s;
}

.live-input {
  border: 1px solid rgb(255, 189, 158);
  background-color: black;
  color: rgb(255, 189, 158);
}

.message-input:focus {
  outline: none;
}

.chat-bottom {
  height: 100px;
  width: 100%;
}
